<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pt-3" id="pagination" data-current-page="1" data-total-page="2">

        <li class="page-item px-1">
            <a id="startPage" class="page-link" href="" aria-label="Start">
                <img src="../img/svg-img/button_angles-left-solid-07.svg"
                     class="img-width-20px" alt="">
            </a>
        </li>

        <li class="page-item px-1">
            <a id="previousPage" class="page-link" href="" aria-label="Previous">
                <img src="../img/svg-img/button_chevron-left-solid.svg"
                     class="img-width-10px" alt="">
            </a>
        </li>

        <li class="page-item px-1">
            <a class="page-link product-page-link page-number text-decoration-none active" data-page="1"
               href="">1</a>
        </li>

        <li class="page-item px-1">
            <a class="page-link product-page-link page-number text-decoration-none" data-page="2"
               href="">2</a>
        </li>


        <li class="page-item px-1">
            <a id="nextPage" class="page-link" href="" aria-label="Next">
                <img src="../img/svg-img/button_chevron-right-solid.svg"
                     class="img-width-10px" alt="">
            </a>
        </li>

        <li class="page-item px-1">
            <a id="endPage" class="page-link" href="" aria-label="End">
                <img src="../img/svg-img/button_angles-right-solid-05.svg"
                     class="img-width-20px" alt="">
            </a>
        </li>
    </ul>
</nav>