@{
    IList<string> texts = Model.Texts;
    IList<string> images = Model.Images;
}
<div class="container">
    <div class="row">
        <div class="col-lg-8 d-flex flex-column pt-4 align-items-center justify-content-center">
                <h4 class="lh-lg">
                    <span class="text-block pre-wrap">@texts[0]</span>
                </h4>
        </div>
        <div class="col-lg-4 d-flex justify-content-center align-items-center">
            <div class="d-flex justify-content-center p-3 image-container position-relative w-300">
                <img class="img-fluid image-block" src="@images[0]" alt="">
            </div>
        </div>
    </div>
</div>