@{
    IList<string> texts = Model.Texts;
    IList<string> images = Model.Images;
}
<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <span class="title-slash-orange">/</span>
        <h1 class="text-black mt-4 text-block">@texts[0]</h1>
    </div>
</div>