
<section>
    <div class="container">
        <!-- 麵包屑 -->
        <nav aria-label="breadcrumb" class="breadcrumbs">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div>

    <!-- 視覺圖 -->
    <div class="about-us-background">
        <div class="container">
            <div class="d-flex justify-content-start pt-4 pb-3 text-white">
                <h1>關於我們</h1>
            </div>
            <div class="d-flex justify-content-start text-white fs-5">
                本著持續學習創新的理念不斷求新求變，
                <br/>
                以面對技術的演進與客戶需求的腳步。
                <br />
                用豐富的經驗和精益求精的服務精神，
                <br />
                持續在資訊服務產業深耕。
            </div>
        </div>
    </div>
</section>

<section class="py-3 mt-4">
    <div class="container">

        <div class="d-flex justify-content-center">
            <span class="title-slash-orange">/</span>
            <h1 class="text-black mt-4">公司介紹</h1>
        </div>

        <div class="row col-reverse-less-lg bg-grey-squre-r mt-4">
            <div class="col-lg-5 p-5 d-flex align-items-center justify-content-center">
                <img class="w-100 h-auto " src="~/img/about-us/t-hub.jpeg" alt="">
            </div>
            <div class="col-lg-7 bg-grey-squre-c d-flex align-items-center justify-content-center">
                <div class="mx-4 mt-5 mb-5 ">
                    <p>
                        宗宸鑫科技成立於2007年，是一家提供完整的IP通信整合系統產品和基礎建設的公司。我們擁有長期的經驗和積累，在金融和公共部門領域表現卓越。為了應對數位金融潮流，我們積極擴展我們的服務範圍，特別是在金融科技領域。2019年與銀行核心系統第一品牌，簽訂戰略合作夥伴協議，成為台灣地區指定合作夥伴。2020年與國際壽險翹楚，共同制定臺灣地區壽險系統發展策略，提供穩定、安心、迅速且健全之產品及客戶服務。
                        這個合作讓我們轉型並專注於金融業相關服務，並尋求更多合作機會。
                    </p>
                    <p>
                        我們的公司核心價值可以分為三個重要方面：首先，我們重視人才的培養和發展，相信人才是我們成功的基石。其次，我們強調溝通和合作，這有助於我們更好地達成我們的目標。最後，我們追求敏捷和當責，這意味著我們注重效率和負責任地完成我們的工作。
                    </p>
                    <p>
                        在面對未來的挑戰時，我們的公司不僅關注商業方面，還關心社會責任。我們長期關注偏鄉兒童的教育，希望為他們提供更多機會和支持。同時，我們努力提升公司的韌性，一方面我們重視人才的培育，另一方面也致力於與客戶共同創建永續的生態圈。目標以成為客戶心目中值得信賴與託付的公司，並以此帶動宗宸鑫的永續經營發展。
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-3 mt-5 mb-5">
    <div class="container">
        <div class="d-flex justify-content-center">
            <span class="title-slash-orange">/</span>
            <h1 class="text-black mt-4">公司沿革</h1>
        </div>
        <div>
            <img class="h-100 w-100 about-us-history-img" src="~/img/about-us/company-history.png" alt="company-history">
        </div>
    </div>
</section>
