<section>
    <div class="container">
        <!-- 麵包屑 -->
        <nav aria-label="breadcrumb" class="breadcrumbs">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div>
    <!-- 視覺圖 -->
    <div class="esg-background">
        <div class="container">
            <div class="d-flex justify-content-start pt-4 pb-3 text-white fs-5">
                <h1>企業永續</h1>
            </div>
            <div class="d-flex justify-content-star text-white">
                致力於環境保護，積極參與淨灘活動，
                <br />
                減少塑膠廢棄物，保護當地生態。
                <br />
                深刻關心員工的安全、健康和專業發展。
                <br />
                堅信透明、誠實和信用即是成功的基石
            </div>
        </div>
    </div>

</section>

<section class="py-3 mt-4">
    <div class="container">
        <div class="row col-reverse-less-lg mt-5">
            <div class="col-lg-8 p-4">
                <img class="w-100 h-100" src="../img/esg/SDGs.png" alt="">
            </div>

            <div class="col-lg-4 d-flex align-items-center">
                <div class="mt-5 mb-5">
                    <h3 class="lh-lg">
                        SDGs是聯合國於2015年提出全球全球永續發展目標，在促進經濟繁榮的同時保護地球。
                        重申自由、和平、安全及人權， 呼籲所有國家促進經濟增長、解決教育、衛生、社會保護和就業機會的社會需求，遏制氣候變化和保護環境。
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-3">
    <div class="container">
        <div class="row mb-4">
            <div class="d-flex justify-content-center">
                <span class="title-slash-orange">/</span>
                <h1 class="text-black mt-4">行動構想策略</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-2">
                <div class=" d-flex justify-content-center p-3">
                    <img class="w-h-140px rounded-circle" src="../img/esg/esg-social-networking.svg" alt="">
                </div>
                <div class="text-center m-2">
                    <h3 class="h3-title-color">善用社群的力量</h3>
                </div>
                <div class="text-center m-3 mt-4">
                    <h5>
                        我淨灘。我驕傲。
                        讓淨灘成為新時尚
                    </h5>
                </div>
            </div>
            <div class="col-lg-2">
                <div class=" d-flex justify-content-center p-3">
                    <img class="w-h-140px rounded-circle" src="../img/esg/esg-creation.svg" alt="">
                </div>
                <div class="text-center m-2">
                    <h3 class="h3-title-color">遊戲化的集體創作</h3>
                </div>
                <div class="text-center m-3 mt-4">
                    <h5>提高全民參與度並增強影響力</h5>
                </div>
            </div>

            <div class="col-lg-2">
                <div class=" d-flex justify-content-center p-3">
                    <img class="w-h-140px rounded-circle" src="../img/esg/esg-immediate.svg" alt="">
                </div>
                <div class="text-center m-2">
                    <h3 class="h3-title-color">即 時 行 『垃』</h3>
                </div>
                <div class="text-center m-3 mt-4">
                    <h5>
                        不用等待活動發起——
                        讓遊客. 居民隨時參與淨灘
                    </h5>
                </div>
            </div>
            <div class="col-lg-2">
                <div class=" d-flex justify-content-center p-3">
                    <img class="w-h-140px rounded-circle" src="../img/esg/esg-Incentives.svg" alt="">
                </div>
                <div class="text-center m-2">
                    <h3 class="h3-title-color">擴大誘因、提高參加意願</h3>
                </div>
                <div class="text-center m-3 mt-4">
                    <h5>
                        異業結盟Win-Win
                        生態導覽、民宿折價卷
                    </h5>
                </div>
            </div>
            <div class="col-lg-2">
                <div class=" d-flex justify-content-center p-3">
                    <img class="w-h-140px rounded-circle" src="../img/esg/esg-voc.svg" alt="">
                </div>
                <div class="text-center m-2">
                    <h3 class="h3-title-color">跨單位的流程自動通報</h3>
                </div>
                <div class="text-center m-3 mt-4">
                    <h5>
                        利用反饋資訊直接通報有關單位
                        改善滿意度VoC，提高淨灘效率
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-3 my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mt-3">
                <div class="img-esg-1 img-down-page-setting position-relative">
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="img-esg-2 img-down-page-setting position-relative">
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="img-esg-3 img-down-page-setting position-relative">
                </div>
            </div>
        </div>
    </div>
</section>
