<section>
    <div class="container">
        <!-- 麵包屑 -->
        <nav aria-label="breadcrumb" class="breadcrumbs">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div>
    <!-- 視覺圖 -->
    <div class="join-us-background">
        <div class="container">
            <div class="d-flex justify-content-start pt-4 pb-3 text-white">
                <h1>BEST TEAM</h1>
            </div>

            <div class="d-flex justify-content-start text-white fs-5">
                提供開放的學習環境，將技術傳承，
                <br />
                培養更多優秀的資訊人才。
            </div>
        </div>
    </div>

</section>

<section class="py-3 mt-4">
    <div class="container">
        <div class="row">
            <div class=" d-flex justify-content-center p-3">
                <span class="title-slash-orange">/</span>

                <h1 class="mt-4">核心價值</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4">
                <div class=" d-flex justify-content-center p-3">
                    <img class="w-h-140px" src="../img/join-us/talent-development-gradient.svg" alt="">
                </div>
                <div class="text-center m-3">
                    <h3 class="h3-title-color">重視人才育成</h3>
                </div>
                <div class="text-center m-3 mt-4">
                    <h4 class="lh-base">我們認為人才是公司最大的資本，夥伴的成長與發展是我們的核心價值。除了與原廠的學習外，公司有整體的規劃訓練，做定期或不定期的內部/外部訓練，與管理階層也有定期一對一的面談，協助您掌握職涯發展的舵輪。</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class=" d-flex justify-content-center p-3">
                    <img class="w-h-140px" src="../img/join-us/Communication-cooperation-gradient.svg" alt="">
                </div>
                <div class="text-center m-3">
                    <h3 class="h3-title-color">強調溝通合作</h3>
                </div>
                <div class="text-center m-3 mt-4">
                    <h4 class="lh-base">我們知道合作維繫的關鍵在有效的溝通，我們重視每次溝通的成效，並鼓勵夥伴相互幫助，一起攻克問題與難關，不藏私、以誠相待是我們的文化。</h4>
                </div>
            </div>

            <div class="col-lg-4">
                <div class=" d-flex justify-content-center p-3">
                    <img class="w-h-140px" src="../img/join-us/agile-gradient.svg" alt="">
                </div>
                <div class="text-center m-3">
                    <h3 class="h3-title-color">追求敏捷當責</h3>
                </div>
                <div class="text-center m-3 mt-4">
                    <h4 class="lh-base">面對工作上的種種問題，我們追求快速評估、鼓勵嘗試、及時行動、接受失敗、檢討改善，不檢討問題的本質以外的人事物。團隊也鼓勵夥伴說到做到，並且為所做的承諾擔起責任。</h4>
                </div>
            </div>




        </div>
    </div>
</section>

<section class="py-3 mt-5">
    <div class="container">
        <div class="row">
            <div class=" d-flex justify-content-center p-3">
                <span class="title-slash-orange">/</span>

                <h1 class="mt-4">員工福利</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3">
                <div class=" d-flex justify-content-center p-3">
                    <img class="w-h-140px" src="../img/join-us/office-gradient.svg" alt="">
                </div>
                <div class="text-center m-3">
                    <h3 class="h3-title-color">明亮寬敞的辦公環境</h3>
                </div>
                <div class="text-center m-3 mt-4">
                    <h4 class="lh-base">辦公室位於明亮寬敞的內湖宏匯瑞光廣場，寬大桌面及人體工學辦公椅，5 分鐘即可步行至捷運港墘站</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class=" d-flex justify-content-center p-3">
                    <img class="w-h-140px" src="../img/join-us/performance-bonus-gradient.svg" alt="">
                </div>
                <div class="text-center m-3">
                    <h3 class="h3-title-color">營運及績效獎金</h3>
                </div>
                <div class="text-center m-3 mt-4">
                    <h4 class="lh-base">當年度盈餘扣除累積虧損後，提撥5%~15%作為員工紅利，視營運及績效考核成績依公告於三節發放</h4>
                </div>
            </div>

            <div class="col-lg-3">
                <div class=" d-flex justify-content-center p-3">
                    <img class="w-h-140px" src="../img/join-us/welfare-committee-gradient.svg" alt="">
                </div>
                <div class="text-center m-3">
                    <h3 class="h3-title-color">福委會</h3>
                </div>
                <div class="text-center m-3 mt-4">
                    <h4 class="lh-base">不定期旅遊及聚餐活動，生育、結婚、生日禮金等各式及慰問金禮金</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class=" d-flex justify-content-center p-3">
                    <img class="w-h-140px" src="../img/join-us/further-education-gradient.svg" alt="">
                </div>
                <div class="text-center m-3">
                    <h3 class="h3-title-color">進修補助</h3>
                </div>
                <div class="text-center m-3 mt-4">
                    <h4 class="lh-base">公司重視夥伴的技能提升，提供購書、課程、專業認證等補助，協助您提升與成就自我</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 join-us-subbackground mt-5">
    <div class="container text-white text-center">
        <div class="row my-5 col-reverse-less-lg">
            <div class="col-lg-4 d-flex justify-content-center align-items-center m-lg-0 mt-3">
                <h1 class="join-us-lineheight">
                    加入我們的團隊<br>一同實現卓越的成就
                    <br>
                    我們正在找尋積極<br>擁有內在驅動力的你
                </h1>
            </div>
            <div class="col-lg-4 my-lg-0 my-5 d-flex justify-content-center align-items-center">
                <img src="../img/join-us/recruitment.png" alt="" width="150px" height="150px" alt="">
            </div>
            <div class="col-lg-4 d-flex justify-content-center align-items-center">
                <a href="https://www.cakeresume.com/companies/centerjoint" target="_blank">
                    <div class="join-us-text text-nowrap d-flex align-items-center">
                        JOIN US <span class="join-us-text d-none d-lg-block">&nbsp</span>
                        <div class="image-container">
                            <img class="orange-circle-arrow-right-solid img-width-1em" src="../img/svg-img/orange_circle-arrow-right-solid.svg" alt="">
                            <img class="white-circle-arrow-right-solid img-width-1em" src="../img/svg-img/white_circle-arrow-right-solid.svg" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="py-3 my-5">
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-5">
                <div class="m-4 d-flex justify-content-center">
                    <img class="h-100 w-100" src="../img/join-us/employee-education.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-7 d-flex justify-content-center align-items-center px-5">
                <p class="join-us-p-text">
                    隨著資訊科技日新月異，市場需求的不斷變化，宗宸鑫將本著持續學習創新的經營理念，
                    不斷求新求變以面對未來技術的演進與客戶需求改變的腳步，宗宸鑫更將以豐富的經驗，
                    優良的傳統和精益求精的服務精神持續在資訊服務產業深耕。
                </p>
            </div>
        </div>
    </div>
</section>
