
<section>
    <div class="container">
        <!-- 麵包屑 -->
        <nav aria-label="breadcrumb" class="breadcrumbs">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div>

    <!-- 視覺圖 -->
    <div class="about-us-background">
        <div class="container">
            <div class="d-flex justify-content-start pt-4 pb-3 text-white">
                <h1>成功案例</h1>
            </div>
            <div class="d-flex justify-content-star text-white fs-5">
                透過深入了解客戶需求，
                <br />
                以創新的角度客製了高度有效的策略。
                <br />
                取得了卓越的績效，
                <br />
                為客戶提供了可衡量的價值延續至今
            </div>
        </div>
    </div>
</section>

<section class="py-3 mt-4">
    <div class="container">

        <div class="d-flex justify-content-center">
            <span class="title-slash-orange">/</span>
            <h1 class="text-black mt-4">集團成功案例</h1>
        </div>

        <div class="row col-reverse-less-lg mt-5 d-flex justify-content-center">
            <div class="p-1 col-lg-5">
                <div class=" success-card m-lr-2 mb-5">
                    <div class="success-card-img p-2">
                        <img class="img-fluid" src="../img/success/success-ctbc.png">
                    </div>
                    <div class="success-card-text">
                        中信金集團
                    </div>
                    <div class="success-card-text">
                        總行大樓網路及電話軟硬體設備建置案
                    </div>
                </div>
            </div>

            <div class="p-1 col-lg-5">
                <div class=" success-card m-lr-2 mb-5">
                    <div class="success-card-img p-2">

                        <img class="img-fluid" src="../img/success/success-cub.jpg">
                    </div>
                    <div class="success-card-text">
                        國泰世華
                    </div>
                    <div class="success-card-text">
                        全省與海外子分行規劃
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-reverse-less-lg d-flex justify-content-center">

            <div class="p-1 col-lg-5">
                <div class=" success-card m-lr-2 mb-5">
                    <div class="success-card-img p-2">

                        <img class="img-fluid" src="../img/success/success-nbrp.jpg">
                    </div>
                    <div class="success-card-text">
                        國家生技研究院
                    </div>
                    <div class="success-card-text">
                        園區網路弱電建置
                    </div>
                </div>
            </div>

            <div class="p-1 col-lg-5">
                <div class=" success-card m-lr-2 mb-5">
                    <div class="success-card-img p-2">

                        <img class="img-fluid" src="../img/success/success-kaohsiung.jpg">
                    </div>
                    <div class="success-card-text">
                        高雄
                    </div>
                    <div class="success-card-text">
                        鐵路地下化工程
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>