@{
    Layout = "_CmsLayout";
    ViewData["Title"] = "DemoPage";
}
@section Scripts{
    <link rel="stylesheet" href="~/css/demo-page.css" />
}

<div class="container">
    <div class="d-flex flex-row">
        <div class="pt-3 col-5">
            <h2 class="page-title">DemoPage</h2>
            <nav aria-label="breadcrumb" class="">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">宗宸鑫網站內容編輯器</li>
                    <li class="breadcrumb-item active" aria-current="page">DemoPage</li>
                </ol>
            </nav>

        </div>
    </div>
    <div class="pt-3">

        <div class="row">

            <div class="col-12">
                <section class="pt-5">
                    <h3>色彩</h3>
                    <ol>
                        <li>網站使用色票</li>
                        <li>色票使用地方(ex:按鈕變色等)</li>
                    </ol>
                </section>
                <section class="pt-5">
                    <h3>字體</h3>

                    <ol>
                        <li>網站使用字體</li>
                        <li>字體使用地方(ex:標題)</li>

                    </ol>
                </section>

                <section class="pt-5">
                    <h3>導覽列</h3>

                    <ol>

                        <li>導覽列使用css class</li>
                        <li>手機版/電腦版的設定樣式</li>
                    </ol>

                </section>
                <section class="pt-5">
                    <h3>網站內容</h3>

                    <ol>

                        <li>架構大概論述</li>
                        <li>架構細項內容</li>
                    </ol>

                </section>
                <section class="pt-5">
                    <h3>頁腳</h3>

                    <ol>

                        <li>頁腳使用css class</li>
                        <li>手機版/電腦版的設定樣式</li>
                    </ol>

                </section>
                <section class="pt-5">
                    <h3>按鈕</h3>

                    <ol>

                        <li>按鈕樣式/css控制class/效果/尺寸說明</li>
                    </ol>

                </section>
                <section class="pt-5">
                    <h3>超連結</h3>

                    <ol>

                        <li>css控制class/效果說明</li>
                    </ol>
                </section>
                <section class="pt-5">
                    <h3>頁碼</h3>

                    <ol>

                        <li>頁碼樣式/css控制class/效果說明</li>
                    </ol>

                </section>

            </div>
        </div>

    </div>
</div>