@{
    Layout = "_CmsLayout";
    ViewData["Title"] = "後台操作手冊";
}

<div class="container">
    <div class="d-flex flex-row">
        <div class="pt-3 col-5">
            <h2 class="page-title">後台操作手冊</h2>
            <nav aria-label="breadcrumb" class="">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">宗宸鑫網站內容編輯器</li>
                    <li class="breadcrumb-item active" aria-current="page">後台操作手冊</li>
                </ol>
            </nav>

        </div>
    </div>
    <div class="d-flex flex-row">
        <div>詳細的資訊請至: </div>
        <div class="ps-1"><a href="~/document/Centerjoint-Operating-Manual.pdf" target="_blank">後台操作手冊</a></div>
        <div class="ps-1">中查看</div>
    </div>
</div>